.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .dashboard-nav {
    display: flex;
    align-self: flex-end;
    text-align: right;
    padding: 10px;
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: left;

    .dashboard-secondary-nav {
      display: flex;
      align-items: center;
      position: relative;
      right: 30px;

      a {
        padding: 0px 10px;
        font-size: 14px;
        text-decoration: none;
        color: #2c3e50;
      }

      a:hover {
        opacity: 0.6;
      }
    }
  }

  .dashboard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 60px 0px;

    .dashboard-controls {
      display: flex;
      justify-content: flex-end;
    }

    .api-key-list {
      display: flex;
      justify-content: center;
      margin: 20px 0px;
      font-size: 20px;
      
      .api-key-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        margin: 20px 0px;
        border: 1px grey solid;
        border-radius: 6px;
        background-color: #F2F2F2;
        text-align: left;

        .key, .created-at {
          font-size: 18px;
        }

        .api-icon {
          font-size: 20px;
          padding: 10px;
        }
      }
    }
  }
}