.thanks-bud-img {
  background-image: url("../assets/images/hey_bud.png");
}

.not-bud-img {
  background-image: url("../assets/images/hey_bud.png");
}

.cover-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 10px 0px 40px 0px;
}