.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
  
    .home-nav {
        display: flex;
        align-self: flex-end;
        text-align: right;
        padding: 10px;
    }
  
    .home-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
  
        .motto {
            padding-bottom: 20px;
        }
  
        .login-signup-buttons {
            display: flex;
        }
    }
  
    .title {
        align-self: flex-start;
        text-align: left;
        padding: 10px;
    }
}